requests
Flask
gevent
gunicorn
flask-redis
pymongo
MySQL-python==1.2.5
redis
SQLAlchemy
Crypto
pycrypto
flask_sqlalchemy
happybase==1.1.0
pyexecjs
beautifulsoup4
lxml
chardet
pyDes
Pillow
pyspider==0.3.9
mysql-connector==2.1.4